<h3>Courses</h3>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Class ID</th>
      <th>Class Name</th>
      <th>Starting Date</th>
      <th># of Students</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>CS201</td>
      <td>Software Architecture and Design Patterns</td>
      <td>12/12/2014</td>
      <td># of Students</td>
      <td><a>Delete</a></td>
    </tr>
    <tr>
      <td>CS201</td>
      <td>Software Architecture and Design Patterns</td>
      <td>12/12/2014</td>
      <td># of Students</td>
      <td><a>Delete</a></td>
    </tr>
  </tbody>
</table>

<div class="well">
    <div class="two columns">
      <label for="courseCode">Class ID</label>
      <input type="text" class="u-full-width" />
    </div>
    <div class="five columns">
      <label for="courseCode">Class Name</label>
      <input type="text" class="u-full-width" />
    </div>
    <div class="two columns">
      <label for="courseCode">Max Students</label>
      <input type="number" class="u-full-width" />
    </div>
    <div class="three columns">
      <label for="courseCode">Starting Date</label>
      <input type="text" class="u-full-width" />
    </div>

    <div class="u-cf"></div>

    <button class="button-primary u-pull-right">Add Class</button>

    <div class="u-cf"></div>
</div>
