<div class="container" ng-app="enrollmentApp">
  <div class="row">
    <div class="two columns">
      <img src="/assets/logo.png" class="u-full-width" />
      <a href="/courses">Courses</a><br />
      <a href="/students">Students</a>
    </div>
    <div class="ten columns" style="position:relative">
      <div class="fade" ng-view></div>
    </div>
  </div>
</div>
