/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require skeleton
 *= require pickadate
 *= require_tree .
 *= require_self
 */

body {
  padding-top:20px;
}

.well {
  background-color:#f0f0f0;
  padding:20px;
}

.button-destroy {
  background-color: white;
  /*color: #DD3646;*/
  color:#DD4C3B;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  height: 30px;
  line-height: 30px;
  margin-bottom:0;
}

input[type="number"] {
  height: 38px;
  line-height: 38px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  padding-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}

.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}
