/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require skeleton
 *= require_tree .
 *= require_self
 */

body {
  padding-top:20px;
}

.well {
  background-color:#f0f0f0;
  padding:20px;
}

.button-destroy {
  background-color: white;
  /*color: #DD3646;*/
  color:#DD4C3B;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  height: 30px;
  line-height: 30px;
  margin-bottom:0;
}
